<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>&apos;NSLocationAlwaysUsageDescription&apos;</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818819500547-0ud4hqao6n4r2g95mdp2ej0hfflmh3g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818819500547-0ud4hqao6n4r2g95mdp2ej0hfflmh3g1</string>
	<key>API_KEY</key>
	<string>AIzaSyA5SaRwxVQ4RomMQn8m4FttgSYVUslW6x0</string>
	<key>GCM_SENDER_ID</key>
	<string>818819500547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Miller.New-Attendance-App</string>
	<key>PROJECT_ID</key>
	<string>attendancenew</string>
	<key>STORAGE_BUCKET</key>
	<string>attendancenew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818819500547:ios:310d92ea4ce8f90c</string>
	<key>DATABASE_URL</key>
	<string>https://attendancenew.firebaseio.com</string>
</dict>
</plist>
